
\.DS_Store
hackgtEnv/myDjango/dbAccess/__pycache__/
hackgtEnv/myDjango/myDjango/__pycache__/
hackgtEnv/myDjango/product/__pycache__/
hackgtEnv/myDjango/product/migrations/__pycache__/
hackgtEnv/myDjango/service/__pycache__/text\.cpython-36\.pyc

product/__pycache__/views\.cpython-36\.pyc

MyCalary/MyCalary/\.idea/misc\.xml
